name: Build Kivy APK

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install requirements
      run: |
        sudo apt update
        sudo apt install -y build-essential git ffmpeg libsdl2-dev libsdl2-mixer-dev libsdl2-ttf-dev libportmidi-dev \
        python3  python3-dev python3-pip  zip unzip libffi-dev libssl-dev libjpeg-dev libtool pkg-config \
        openjdk-17-jdk libncurses5-dev libncursesw5-dev libtinfo6 cmake autoconf automake zlib1g-dev
        pip3 install --upgrade buildozer cython==0.29.34

    - name: Build APK
      run: |
        export PATH=$PATH:~/.local/bin
        MAX = 5
        COUNT = 0
        SUCCESS=false
        while [ $COUNT -lt $MAX ]; do
          buildozer -v android debug && SUCCESS=true && break
          AIDL_PATH=$(which aidl)
          SDK_BUILD=$(find .buildozer/android/platforms/ -name "build-tools" -type d 2>/dev/null | head -n 1)
          if [ -n "$SDK_BUILD" ]; then
            VERSION=$(ls $SDK_BUILD | head -n 1)
            TARGET="$SDK_BUILD/$VERSION"
            ln -sf $AIDL_PATH "$TARGET/aidl"
          fi
          COUNT=$((COUNT+1))
        done

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: calc-app
        path: bin/*.apk
