name: Build Kivy APK

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install requirements
      run: |
        sudo apt update
        sudo apt install -y python3 python3-pip git zip unzip openjdk-17-jdk libffi-dev libssl-dev libjpeg-dev zlib1g-dev

    - name: Build APK
      uses: ArtemSBulgakov/buildozer-action-v1@v5
      id: buildozer
      with:
        command: buildozer -v android debug
        buildozer_version: stable

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: calc-app
        path: bin/*.apk
